body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #333;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px; /* Borde redondeado de 10px */
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

.content {
  flex: 1;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1e222a; /* Color levemente más oscuro */
  color: white;
  padding: 15px 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #1e222a;
  padding: 5px 10px;
  border-radius: 5px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Hace la imagen redonda */
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente fila si no hay espacio horizontal */
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px; /* Espacio entre los elementos */
}

.div-item {
  flex: 1 0 200px; /* Permite que el elemento crezca pero tiene un tamaño base de 200px */
  max-width: 300px; /* Ancho máximo de 300 píxeles */
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Borde redondeado de 10px */
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
  position: relative; /* Añadido para el enlace */
}

.div-item a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.div-item:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}
